<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="HiTechProjectDBEntities" connectionString="metadata=res://*/OrderClerksEntityRelation.csdl|res://*/OrderClerksEntityRelation.ssdl|res://*/OrderClerksEntityRelation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MJFGCFR;initial catalog=HiTechProjectDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmployeeProjectDBEntities" connectionString="metadata=res://*/ORderClerksEnntityRelation.csdl|res://*/ORderClerksEnntityRelation.ssdl|res://*/ORderClerksEnntityRelation.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MJFGCFR;initial catalog=EmployeeProjectDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HiTechProjectDBEntities1" connectionString="metadata=res://*/OrderClerksEntityModel.csdl|res://*/OrderClerksEntityModel.ssdl|res://*/OrderClerksEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MJFGCFR;initial catalog=HiTechProjectDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HiTechProjectEntity" connectionString="metadata=res://*/OrderClerkEntityModel.csdl|res://*/OrderClerkEntityModel.ssdl|res://*/OrderClerkEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MJFGCFR;initial catalog=project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HiTechProjectEntities" connectionString="metadata=res://*/OrderClerkEntityModel.csdl|res://*/OrderClerkEntityModel.ssdl|res://*/OrderClerkEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MJFGCFR;initial catalog=project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HiTechProjectEntities1" connectionString="metadata=res://*/OrderClerkModel.csdl|res://*/OrderClerkModel.ssdl|res://*/OrderClerkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MJFGCFR;initial catalog=project;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HiTechProjectDBEntities2" connectionString="metadata=res://*/OrderClerkModel.csdl|res://*/OrderClerkModel.ssdl|res://*/OrderClerkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MJFGCFR;initial catalog=HiTechProjectDB;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HitechProjectEntities" connectionString="metadata=res://*/OrderClerkModel.csdl|res://*/OrderClerkModel.ssdl|res://*/OrderClerkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MJFGCFR;initial catalog=project_hitech;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HiTechProjectEntities2" connectionString="metadata=res://*/OrderClerkModel.csdl|res://*/OrderClerkModel.ssdl|res://*/OrderClerkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MJFGCFR;initial catalog=project_hitech;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HitechEntities" connectionString="metadata=res://*/OrderClerkModel.csdl|res://*/OrderClerkModel.ssdl|res://*/OrderClerkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MJFGCFR;initial catalog=project_hitech;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EntityRelationHiTechProject" connectionString="metadata=res://*/OrderClerkModel.csdl|res://*/OrderClerkModel.ssdl|res://*/OrderClerkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MJFGCFR;initial catalog=project_hitech;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HiTechEntities" connectionString="metadata=res://*/OrderClerkModel.csdl|res://*/OrderClerkModel.ssdl|res://*/OrderClerkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MJFGCFR;initial catalog=project_hitech;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HiTechEntityInventory" connectionString="metadata=res://*/InventoryControllerModel.csdl|res://*/InventoryControllerModel.ssdl|res://*/InventoryControllerModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MJFGCFR;initial catalog=project_hitech;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HitechProjectEntities3" connectionString="metadata=res://*/OrderClerkModel.csdl|res://*/OrderClerkModel.ssdl|res://*/OrderClerkModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MJFGCFR;initial catalog=project_db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HitechProjectEntities4" connectionString="metadata=res://*/InventoryModel.csdl|res://*/InventoryModel.ssdl|res://*/InventoryModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-MJFGCFR;initial catalog=project_db;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>